<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073724553842-mioldofmvgbp1gdkv1ago2q0emhieohi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073724553842-mioldofmvgbp1gdkv1ago2q0emhieohi</string>
	<key>API_KEY</key>
	<string>AIzaSyCP4h1IKlFwXSs1em8k0N-Ky40hMbGTfFY</string>
	<key>GCM_SENDER_ID</key>
	<string>1073724553842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prn232.expomobile</string>
	<key>PROJECT_ID</key>
	<string>prn232-dc13f</string>
	<key>STORAGE_BUCKET</key>
	<string>prn232-dc13f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073724553842:ios:f85ef773b7fbcd7f30a0eb</string>
</dict>
</plist>